.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 12px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow,
.pageNumber {
  border: none;
  cursor: pointer;
  background-color: var(--color-white);

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.pageNumber {
  padding: 8px;
}

.root.dark .pageNumber,
.root.dark .arrow {
  background-color: var(--color-dark);
  color: var(--color-light-5);
}
.root.light .pageNumber,
.root.light .arrow {
  background-color: var(--color-white);
  color: var(--color-black);
}
