body {
  /* display: flex;
  justify-content: center;
  align-items: start; */
  /* max-width: 400px; */
  /* margin-inline: auto; */
  min-height: 100vh;
  /* padding: 100px 30px; */
  font-family: "Inter", sans-serif;
  background-color: var(--color-gray-1);
}

input,
label,
button {
  transition-duration: var(--transition-duration);
}

:focus-visible {
  outline: 2px dashed var(--color-black);
  outline-offset: 4px;
  transition-duration: 0s !important;
}

.container {
  padding: 24px;
  min-height: 100vh;
}

.app.dark .container {
  background-color: var(--color-dark);
}

.app.light .container {
  background-color: var(--color-white);
}

.app.dark p,
.app.dark h3,
.app.dark h1 {
  color: var(--color-light-5);
}

.app.light p,
.app.light h3,
.app.light h1 {
  color: var(--color-black);
}
