:root {
  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-light-1: #F2F4F5;
  --color-light-2: #F0F0F0;
  --color-light-3: #F8F8F8;
  
  --color-gray: #6C7072;

  --color-purple-1: #E7E7FF;
  --color-purple-2: #6B4EFF;

  --border: 1px solid var(--color-gray-2);
  --border-radius: 8px;

  --box-shadow: 0 4px 4px -4px rgba(12, 12, 13, 0.05), 0 16px 32px -4px rgba(12, 12, 13, 0.1);

  --input-height: 40px;

  --transition-duration: 0.2s;
}
