.root {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.arrow {
  border: none;
  background-color: var(--color-white);
  cursor: pointer;
}

.root.dark .arrow {
  background-color: var(--color-dark);
  color: var(--color-light-5);
}

.root.light .arrow {
  background-color: var(--color-white);
  color: var(--color-black);
}
